.home {
  margin-top: 5vh;
  height: 90vh;
}
.title {
  width: 100%;
  text-align: center;
  margin: 0;
}
p.paragraph {
  width: 100%;
  margin: 2vh 0 0;
  text-align: center;
}
a.paragraph {
  display: flex;
  justify-content: center;
  width: 100%;
}
