.shop {
  margin-top: 5vh;
  height: 90vh;
  .title {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .shop {
    height: 85vh;
  }
}
