.sign-up {
  width: 100vw;
  text-align: center;

  .group {
    display: grid;
    justify-content: space-around;
    .form-input {
      width: 90vw;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;

    .button {
      flex-basis: 30%;
    }
  }
}
