@media only screen and (max-width: 480px) {
  .header {
    height: 10vw;
    width: 100vw;
  }

  .options {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .option {
    display: flex;
    height: 100%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }

  .shopping-icon {
    height: 80%;
  }
}
