.header {
  height: 5vh;
  width: 100%;
}

.options {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.option {
  display: flex;
  height: 100%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.shopping-icon {
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    height: 10vh;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 10vh;
  }
  .options {
    justify-content: space-around;
  }
  .option {
    font-size: 24px;
  }
  .shopping-icon {
    height: 60%;
  }
}
