.header {
  height: 5vh;
  width: 100vw;
}

.options {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  height: 100%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.shopping-icon {
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    height: 10vh;
  }
}
